@model ChartViewModel

<label>Current function is:</label>
@{
    if (Model == null)
    {
        <span>No selected chart</span>
    }
    else
    {
        <span>Coordinates range "@Model.from" - "@Model.to", step "@Model.step", coefficients a = "@Model.a", b = "@Model.b", c = "@Model.c"</span>
    }
}